/* Header only for now*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: #ffffff;
  color: #484848;
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: #d3d3d3 0.063rem solid;
}
.logo {
  font-size: 1.5rem;
  font-weight: bold;
}
.search-bar{
  padding: 1rem 1rem;
  border-radius: 100px;
}
.nav-links {
  display: flex;
  list-style: none;
}
.nav-links li {
  margin: 0 1rem;
}
.nav-links a {
  color: #484848;
  text-decoration: none;
}